<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangly.mapper.UserAuthMapper">
  <resultMap id="BaseResultMap" type="com.tangly.entity.UserAuth">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_info_id" jdbcType="BIGINT" property="userInfoId" />
    <result column="auth_available" jdbcType="BIT" property="authAvailable" />
    <result column="login_type" jdbcType="VARCHAR" property="loginType" />
    <result column="login_account" jdbcType="VARCHAR" property="loginAccount" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="login_salt" jdbcType="VARCHAR" property="loginSalt" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_device" jdbcType="VARCHAR" property="lastLoginDevice" />
    <result column="last_login_try_count" jdbcType="INTEGER" property="lastLoginTryCount" />
    <result column="last_login_token" jdbcType="VARCHAR" property="lastLoginToken" />
  </resultMap>
</mapper>