<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="./static/iview.css">
</head>
<body>
<div id="app">
    <div>
        <label>token:</label>
        <Input style="width:300px" @keyup.enter="doConnect" type="text" v-model="token" placeholder="登录验证时的token，访客用户随便填写一个"/>
        <i-button @click="doConnect" v-show="!isConnected">连接</i-button>
        <i-button @click="doDisConnect" v-show="isConnected">断开</i-button>
    </div>
    <div>

        <hr/>
        <Scroll id="result" style="border: solid; overFlow-y:scroll; ">
            <div v-html="resultMsg"></div>
            <div id="end" style="height: 3px;"></div>
        </Scroll>

        <hr/>
        <label>发送: </label>
        <Input style="width:300px" type="text" v-model="sendText" @keyup.enter="sendAll" placeholder="填写发送内容按Enter键发送" />
        <i-button id="sendBroadcast" @click="sendAll"  v-show="isConnected">群发所有</i-button>
        <div>
            <label>单发给用户:</label>
            <Input type="text" v-model="sendTo" placeholder="填写用户名"/>
            <Input type="text" v-model="singleSendText" @keyup.enter="sendSingle" placeholder="单发内容" placeholder="填写发送内容按Enter键发送" />
            <i-button id="sendSingle" @click="sendSingle" v-show="isConnected">单独发送</i-button>
        </div>
    </div>

</div>

<script src="/static/vue.min.js"></script>
<script src="/static/iview.min.js"></script>

<script>
    var app = new Vue(
        {
            el: '#app',
            data: {
                isConnected: false,
                socket: null,
                token: '',
                sendText: '',
                singleSendText: '',
                sendTo: null,
                resultMsg: ''
            },
            computed: {
                wsUrl: function () {
                    return 'ws://' + window.location.host + '/endpoint/' + this.token;
                }
            },
            methods: {
                doConnect: function () {
                    if (typeof(WebSocket) == "undefined") {
                        console.log("您的浏览器不支持WebSocket");
                    } else {
                        if (!this.token) {
                            alert('填写你的token');
                            return;
                        }
                        if(this.isConnected){
                            return;
                        }
                        this.socket = new WebSocket(this.wsUrl);
                        const that = this;
                        this.socket.onopen = function () {
                            that.isConnected = true;
                        };
                        this.socket.onmessage = function (ret) {
                            var json = JSON.parse(ret.data);
                            that.addText(json.type, json.msg, json.to, json.from);
                        };
                        //关闭事件
                        this.socket.onclose = function () {
                            that.isConnected = false;
                            that.socket = null;
                        };
                        //发生了错误事件
                        this.socket.onerror = function () {
                            that.isConnected = false;
                            that.socket = null;
                        };
                        window.unload = function () {
                            that.socket.close();
                            that.socket = null;
                        };
                    }
                },
                doDisConnect: function () {
                    if (this.socket != null) {
                        this.socket.close();
                        this.addText('SELF', '断开连接', '单发', '系统');
                    }
                },
                sendSingle: function () {
                    if (!this.sendTo) {
                        // alert('填写你要发给谁');
                        return;
                    }
                    if(!this.singleSendText){
                        // alert('发送内容不能为空');
                        return;
                    }
                    this.addText('SELF', this.singleSendText, '单发', '自己');
                    this.send(0, this.singleSendText, this.sendTo);
                    this.singleSendText = "";
                },
                sendAll: function () {
                    if(!this.sendText){
                        // alert('发送内容不能为空');
                        return;
                    }
                    this.addText('SELF', this.sendText, '群发', '自己');
                    this.send(1, this.sendText);
                    this.sendText = "";
                },
                addText: function (type, msg, to, fromWho) {
                    this.resultMsg += '<p>【' + fromWho + '】 ' + msg + '</p>';
                    document.getElementById("end").scrollIntoView();
                },
                send: function (type, msg, to) {
                    this.socket.send(JSON.stringify({
                        'type': type,
                        'msg': msg,
                        'to': to
                    }))
                }
            }
        }
    )

</script>
</body>
</html>